n8n/workflows/input_requested.workflow.json
{
  "name": "RAIS Portal - input_requested",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook",
      "name": "Supabase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rais-input-requested"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-portal-secret']}}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "id": "secretCheck",
      "name": "Secret Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$('Supabase Webhook').item.json.body.record.client_id}}"
            }
          ]
        },
        "options": {
          "schema": "portal",
          "columns": "primary_contact_email"
        }
      },
      "id": "loadClientEmail",
      "name": "Load Client Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 250]
    },
    {
      "parameters": {
        "fromEmail": "portal@mail.ritz-ai.solutions",
        "toEmail": "={{$json.primary_contact_email}}",
        "subject": "Neue Input-Anfrage im RAIS Portal",
        "emailType": "html",
        "message": "={{\"<p>Guten Tag,</p><p>es wurde eine neue Input-Anfrage für Sie erstellt:</p><p><strong>\" + $('Supabase Webhook').item.json.body.record.title + \"</strong></p><p>Fälligkeitsdatum: \" + ($('Supabase Webhook').item.json.body.record.due_date ?? 'ohne Frist') + \"</p><p><a href='https://portal.ritz-ai.solutions/portal/inputs/\" + $('Supabase Webhook').item.json.body.record.id + \"'>Zur Anfrage</a></p><p>Viele Grüße<br/>RAIS</p>\"}}"
      },
      "id": "sendEmail",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [940, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\":\"unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorizedResponse",
      "name": "Unauthorized 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Supabase Webhook": {
      "main": [[{ "node": "Secret Check", "type": "main", "index": 0 }]]
    },
    "Secret Check": {
      "main": [
        [{ "node": "Load Client Email", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized 401", "type": "main", "index": 0 }]
      ]
    },
    "Load Client Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  }
}
