n8n/workflows/input_submitted.workflow.json
{
  "name": "RAIS Portal - input_submitted",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook",
      "name": "Supabase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "rais-input-submitted"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-portal-secret']}}",
              "operation": "equal",
              "value2": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "id": "secretCheck",
      "name": "Secret Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "portal@mail.ritz-ai.solutions",
        "toEmail": "kevin@ritz-ai.solutions",
        "subject": "Neue Input-Einreichung eingegangen",
        "emailType": "html",
        "message": "={{\"<p>Neue Einreichung im RAIS Portal.</p><ul><li>Request-ID: \" + $json.body.record.request_id + \"</li><li>Client-ID: \" + $json.body.record.client_id + \"</li></ul>\"}}"
      },
      "id": "sendKevinMail",
      "name": "Alert Kevin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [730, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\":\"unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorizedResponse",
      "name": "Unauthorized 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [730, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "successResponse",
      "name": "Success 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 250]
    }
  ],
  "connections": {
    "Supabase Webhook": {
      "main": [[{ "node": "Secret Check", "type": "main", "index": 0 }]]
    },
    "Secret Check": {
      "main": [
        [{ "node": "Alert Kevin", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized 401", "type": "main", "index": 0 }]
      ]
    },
    "Alert Kevin": {
      "main": [[{ "node": "Success 200", "type": "main", "index": 0 }]]
    }
  }
}
